.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 70px;
  z-index: 1;
  transition: all 0.5s ease-in;
}
.nav__black {
  background-color: #111;
}